<!doctype html>
<html class="no-js fixed-layout">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Amaze UI Admin index Examples</title>
  <meta name="description" content="这是一个 index 页面">
  <meta name="keywords" content="index">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="../static/assets/i/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="../static/assets/i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-title" content="Amaze UI" />
  <link rel="stylesheet" href="../static/assets/css/amazeui.min.css"/>
  <link rel="stylesheet" href="../static/assets/css/admin.css">
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->

<header class="am-topbar am-topbar-inverse admin-header">
  <div class="am-topbar-brand">
    <strong>{{ name }}</strong> <small>个人中心</small>
  </div>

  <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

  <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

    <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
      <li class="am-dropdown" data-am-dropdown>
        <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
          <span class="am-icon-users"></span> {{ ident }} <span class="am-icon-caret-down"></span>
        </a>
        <ul class="am-dropdown-content">
          <li><a href="/student_detail"><span class="am-icon-user"></span> 资料</a></li>
          <li><a href="/student_detail"><span class="am-icon-cog"></span> 设置</a></li>
          <li><a href="/"><span class="am-icon-power-off"></span> 退出</a></li>
        </ul>
      </li>
    </ul>
  </div>
</header>

<div class="am-cf admin-main">
  <!-- sidebar start -->
  <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
    <div class="am-offcanvas-bar admin-offcanvas-bar">
        <ul class="am-list admin-sidebar-list">
        <li><a href="{{ url_for('student_index', user=user) }}"><span class="am-icon-home"></span> 首页</a></li>
          <div class="am-panel am-panel-default admin-sidebar-panel">
            <div class="am-panel-bd">
              <p><span class="am-icon-bookmark"></span>学号：{{ user }}</p>
              <p><span class="am-icon-tag"></span>平均绩点：{{ gpa }}</p>
            </div>
          </div>
        <li><a href="{{ url_for('student_course', user=user) }}"><span class="am-icon-table"></span> 课表</a></li>
        <li><a href="{{ url_for('student_set') }}"><span class="am-icon-pencil-square-o"></span> 选课/退课</a></li>
        <li><a href="/"><span class="am-icon-sign-out"></span> 注销</a></li>
        </ul>

    </div>
  </div>

  <!-- content start -->


  <div class="admin-content">
    <div class="admin-content-body">
      <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">{{ name }}！</strong>  <small>欢迎您！</small></div>
      </div>
      <div class="am-g">
        <div class="am-u-sm-12">
          <table class="am-table am-table-bd am-table-striped admin-content-table">
            <thead>
            <tr>
              <caption style="padding:10px 10px;font-size:20px">我的课程</caption>
              <th>课程号</th><th>课程名</th><th>教师</th><th>教师工号</th><th>学期</th><th>成绩</th>
            </tr>
            </thead>
            <tbody>
            {% for course in courses %}
            <tr>
              <td>{{ course[0] }}</td>
              <td>{{ course[1] }}</td>
              <td>{{ course[2] }}</td>
                <td>{{ course[5] }}</td>
              <td>{{ course[3] }}</td>
              <td>{{ course[4] }}</td>
            </tr>
            {% endfor %}

            </tbody>
          </table>
        </div>
      </div>


 <h1 >课程管理</h1>
        <div class="am-alert am-alert-warning" data-am-alert>
        <button type="button" class="am-close">&times;</button>
        课程不存在！
        </div>
<div class="am-g">
  <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
     <form method="POST" class="am-form">
      <div class="am-form-group">
      <label for="courseno">课程号:</label>
      <input type="text" name="courseno" id="courseno" value="" placeholder="此处输入课程号">
      <br>
      <label for="teacherno">教师工号:</label>
      <input type="text" name="teacherno" id="teacherno" value="" placeholder="此处输入教师工号">
      <br>
          <label for="teachernme">教师名:</label>
      <input type="text" name="teachername" id="teachername" value="" placeholder="此处输入教师名">
      <br>
      <label for="coursetime">学期:</label>
      <input type="text" name="coursetime" id="coursetime" value="" placeholder="此处输入学期">
      <br>

        <div class="am-alert am-alert-warning" data-am-alert>
        <button type="button" class="am-close">&times;</button>
        课程不存在！
        </div>





      <span class="am-form-caret"></span>
    </div>
      <br />

      <div style="float:left;",class="am-cf">
        <input type="submit" name="in" value="选 课" class="am-btn am-btn-primary am-btn-sm am-fl">
      </div>
          <div style="float:right;",class="am-cf">
        <input type="submit" name="out" value="退 课" class="am-btn am-btn-primary am-btn-sm am-fl">
      </div>
    </form>
    <hr>
  </div>
</div>





    <footer class="admin-content-footer">
      <hr>
      <p class="am-padding-left">CopyRight© 2019 上海大学 数据库原理(2) B1实验项目<br>
        成员：
        马心怡 16121961
        李王子 16122739
        陈诗园 16122873</p>
    </footer>
  </div>
  <!-- content end -->

</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="../static/assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="../static/assets/js/amazeui.min.js"></script>
<script src="../static/assets/js/app.js"></script>
</body>
</html>
